__pycache__
archive.zip
ImageData
KGF-Cucdoan
A.csv
B.csv
C.csv
M.csv
References
Matlab
Data_topic_analysis
Main.py
Main_fkgs.py
Image
Test
test
result
Linux_run
Dataset3modal

# Large binary files
*.npz
processed_features_*.npz
*.npy

# Ignore all CSV first, then keep only specific ones
# *.csv
# !Combination/csv_features/*.csv
# !Source_code/**/*.csv